---
layout: navbar
title: Projects
---

<div class="sidebar-left">
    <div class="filler-left hide"></div>
</div>

<div class="container">
    {% assign projects = site.projects | sort: 'priority' %}
    {% for project in projects %}
        {% if forloop.index == 1 %}
            <h1>Organizations</h1>
        {% endif %}
        {% if forloop.index == 3 %}
            <h1>Personal</h1>
        {% endif %}
        {% if forloop.index == 9 %}
            <h1>Coursework</h1>
        {% endif %}
        {{ project }}
        <br><hr><br>

        <div class="modal" id="{{ project.modal }}">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>{{ project.name }}</p>
            </div>
        </div>
    {% endfor %}
</div>