<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website for Declan Sullivan, a student studying Data Science at UC San Diego.">
    <meta name="keywords" content="Declan Sullivan, Declan, Sullivan, UCSD, UC San Diego">
    <meta name="google-site-verification" content="8-_zGJ_Z6_1mQSBhmYfG-EWzhNzU-7o54JYC1GS81UE" />
    <meta name="robots" content="index,follow">
    <title>{{ page.tab_title }}</title>
</head>

<div class="nav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://drive.google.com/file/d/1Kh38twvRHOTiObvuXgBM_6BKmoug_fkM/view?usp=sharing" target="_blank" rel="noopener noreferrer">Resume</a></li>
        </ul>
    </nav>
</div>

{{ content }}

<br class="clear" />

